.heading{
    font-size: 23px;
    width:100%;
    margin:0px;

}
.note{
    font-size: 15px;
    color: black;
}
 body{
    background-size: cover;  
 }
 #speed{
   float:left;
   margin: 15px;
   width:130px;
   font-size: 25px;}

   #play_button{
      float:right;
      margin: 15px;
      width:130px;
      font-size: 25px;}
   


 canvas{
   animation-name: example;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}
@keyframes example{
   from{box-shadow: 1px 1px 38px red;}
   to{box-shadow: 1px 1px 38px blue;}
}